@import 'tailwindcss';

@font-face {
  font-family: 'LXGW';
  src: url('../fonts/LXGWWenKai-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'LXGW-L';
  src: url('../fonts/LXGWWenKai-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'LXGW-M';
  src: url('../fonts/LXGWWenKai-Medium.ttf') format('truetype');
}
@layer components {
  /* 过渡动画效果 */
  .Tr_ani {
    @apply pointer-events-none scale-75 opacity-0 transition duration-600 ease-out group-hover:pointer-events-auto group-hover:scale-100 group-hover:opacity-100;
  }
  /* .GameCard_ani{
    @apply opacity-0 group-hover:opacity-100 transition-opacity duration-350 ease-in-out
  } */
  .GameCard_ani{
    @apply opacity-0 group-hover:opacity-100 transition-opacity transform translate-x-full group-hover:translate-x-0 transition-transform duration-350 ease-in-out
  }
}

body {
  font-family: 'LXGW-M';
}
